@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

#body {
    background-color: rgb(225, 225, 225);
    font-family: 'Roboto', sans-serif;
}

.app {
    margin: 10px;
    padding: 50px;
    background-color: white;
    border: white solid;
    border-radius: 10px;
}

.user-photo {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.skills-list {
    padding: 0;
}

.skills-list li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: solid;
    border-radius: 10px;
    background-color: rgb(50, 150, 125);
    color: white;
}